.gallery {
  margin: auto;
  padding: 15px;
  border: 1px solid black;
  max-width: 750px;
  color: inherit #fff;
}

  .gallery_header {
    display: flex;
    flex-direction: row;
    color: gray inherit;
    flex-wrap: wrap;

    @media screen and (min-width: 480px) {
      flex-wrap: nowrap;
      align-items: center;
    }
  }

    .gallery_title {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
      text-align: center;
      font-size: 1.75rem;
    }

    .gallery_prev,
    .gallery_next {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
      color: black inherit;
      border: 1px solid gray;
    }

    .gallery_prev {
      margin-right: 10px;

      @media screen and (min-width: 480px) {
        order: -1;
      }
    }

    .gallery_next {
      margin-left: 10px;
    }

  .gallery_slides {
    position: relative;
    display: flex;
    margin: 15px 0;
    padding: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    overflow: hidden;
    transition: height 0.5s ease-out;
  }

    .gallery_slide {
      display: none;
      flex: 1;
      box-sizing: border-box;
      background: #c3c3c3;
      transition: transform 500ms ease-in-out;
      will-change: transform;
    }

    .gallery_slide--is-current {
      display: block;
      flex-shrink: 0;
      flex-basis: 100%;
      transform: translateY(0%);
    }

    .gallery_slide--is-following {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
    }

    .gallery_slide--is-out-of-left-bound {
      transform: translateX(-100%);
    }

    .gallery_slide--is-out-of-right-bound {
      transform: translateX(100%);
    }

    .gallery_slide--breaker {
      flex: none;
      width: 100%;
    }

  .gallery_nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .gallery_nav-entry {
      padding: 0;
      border: 0;
      background: none;
      font-size: 1rem;
      color: #c5c5c5 inherit;
      transition: font-size 500ms ease-in-out;

      &:before {
        content: '\25CF';
      }
    }

    .gallery_nav-entry--is-current {
      color: black;
    }
