.slide-item {
    padding: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 1px 0px #c3c3c3;
}

.slide-item_headline {
    text-transform: uppercase;
    text-decoration: underline;
}

.slide-item_subheadline {
}

.slide-item_button {
    -webkit-appearance: button;
    padding: 6px 12px;
    border: 1px solid transparent;
    color: inherit #f0ad4e;
    border-color: #eea236;
}

